body{
    background-color:  #2a231a70;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
main{
    background-color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto;
    max-width: 1000px;
    min-width: 400px;
    padding: 15px;
}
header{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.albuns h2 {
    color: #729FBD;
    width: 100%;
    border: 2px solid #729FBD;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    font-size: 20px;
    margin-bottom: 0;
}
.albuns p  {
    border: 2px solid #729FBD;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-top: 0;
    width: 100%;
    padding: 4px;
}
.albuns {
    width: 300px;
    margin: auto;
    text-align: center;
}
.albuns img{
    width: 300px;
    padding: 2px;
}
