body{
    background-color:  #2a231a70;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
main{
    background-color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto;
    max-width: 1000px;
    min-width: 400px;
    padding: 15px;
}
header{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
h1, header{
    padding: 10px;
}
.albuns {
    width: 40vw;
    display: flex;
}
.albuns img{
    width: 100px;
}
